extends ../layout/main

block variables
	- var title = 'Главная';

block content
	section.top-header
		.container
			.row
				.col-12
					h1 ООО «СУДОЭКОЛОГИЯ», основанное в 1989 году, основным видом деятельности которого является судостроение и судоремонт
					
	section.top-img(style="background-image: url(assets/img/top-img.jpg)")
		img(src="assets/img/top-img.jpg", alt="")

	section.advant-wrap.mb-indent
		.container
			.row
				.col-12
					.advant
						-
							var list=[
								{text:'Более 30 лет на рынке'},
								{text:'Собственные производственные мощности'},
								{text:'Работаем с крупнейшими заказчиками'},
								{text:'Тоннаж до 50 млрд тонн'},
								{text:'Имеем  одобрение РМРС'},
							]
						each item in list
							.advant__item
								.advant__icon
									+svg('ic-check','ic-check', '16', '12')
								.advant__text= item.text
	
	section.services-wrap.m-indent
		.container
			.row
				.col-12
					h2.h1.text-center Услуги

			.services
				.row
					-
						var list=[
							{title:'Дефектация корпусов судов и механизмов', text:'Фирма имеет опыт выполнения работ под надзором Bureau Veritas'},
							{title:'Ремонт корпусов судов', text:'Все технические руководители фирмы являются дипломированными инженерами-кораблестроителями'},
							{title:'Ремонт винто-рулевых комплексов (в т.ч. ВРШ и МИШ)', text:'Фирма имеет опыт выполнения работ под надзором Bureau Veritas'},
							{title:'Ремонт и центровка валопроводов', text:'Все технические руководители фирмы'},
							{title:'Электротехнические и электромонтажные работы', text:'Фирма имеет опыт выполнения работ под надзором Bureau Veritas'},
							{title:'Ремонт главных и вспомогательных двигателей', text:'Фирма имеет опыт выполнения работ под надзором Bureau Veritas'},
							{title:'Ремонт донно-забортной арматуры', text:'Все технические руководители фирмы являются дипломированными инженерами-кораблестроителями'},
							{title:'Ремонт систем и трубопроводов', text:'Фирма имеет опыт выполнения работ под надзором Bureau Veritas'},
							{title:'Ремонт судовых котельных установок', text:'Все технические руководители фирмы являются дипломированными инженерами-кораблестроителями'},
							{title:'Очистка и окраска корпусов судов, механизмов и деталей', text:'Фирма имеет опыт выполнения работ под надзором Bureau Veritas'},
							{title:'Реновация, достройка и отделка судов', text:'Фирма имеет опыт выполнения работ под надзором Bureau Veritas'},
							{title:'Постройка, переоборудование, модернизация судов', text:'Фирма имеет опыт выполнения работ под надзором Bureau Veritas'},
						]
					each item in list
						.col-md-4.col-lg-3
							.services__item
								.services__title
									a(href="#")= item.title
								.services__text= item.text
		
	section.projects-wrap.m-indent
		.container
			.row
				.col-12
					h2.h1.text-center Наши проекты

					.project-slider.js-project-slider
						-
							var list=[
								{img:'project1.jpg', title:'Проект 82390 «Моторная яхта» (т/х «Никита», построен в 2003 г.)'},
								{img:'project2.jpg', title:'Проект 911В Судно экологического обеспечения «РЕДУТ» (построен в 2006 г.)'},
								{img:'project3.jpg', title:'Проект 8276 «Плавучий ресторан» (т/х «Дунаевский», построен в 2007 г.)'},
								{img:'project2.jpg', title:'Проект 911В Судно экологического обеспечения «РЕДУТ» (построен в 2006 г.)'},
								{img:'project1.jpg', title:'Проект 82390 «Моторная яхта» (т/х «Никита», построен в 2003 г.)'},
								{img:'project3.jpg', title:'Проект 8276 «Плавучий ресторан» (т/х «Дунаевский», построен в 2007 г.)'},
								{img:'project2.jpg', title:'Проект 911В Судно экологического обеспечения «РЕДУТ» (построен в 2006 г.)'},
								{img:'project3.jpg', title:'Проект 8276 «Плавучий ресторан» (т/х «Дунаевский», построен в 2007 г.)'},
								{img:'project2.jpg', title:'Проект 911В Судно экологического обеспечения «РЕДУТ» (построен в 2006 г.)'},
							]
						each item in list
							.project-item
								a(href="#").project-item__img-wrap
									.project-item__img(style="background-image: url(assets/img/"+item.img+")")
								
								.project-item__title
									a(href="#")= item.title

								.pr-item-param
									-
										var params=[
											{label:'длина габаритная', val:'24,2', val2:'м'},
											{label:'ширина габаритная', val:'6,2', val2:'м'},
											{label:'высота борта', val:'2,8', val2:'м'},
											{label:'водоизмещение', val:'85,0', val2:'т'},
											{label:'число и мощность главных двигателей VOLVO-PENTA', val:'2х173', val2:'кВт'},
										]
									
									each param in params
										.pr-item-param__item
											.pr-item-param__label= param.label
											.pr-item-param__val= param.val
												|&nbsp
												= param.val2

					.projects-wrap__more
						a.btn(href='#')
							.btn__text Все проекты
							.btn__blobs
								div
								div
								div

	section.docs-wrap.m-indent
		.container
			.row
				.col-lg-4
					h2.h1 Лицензии и сертификаты

				.col-lg-8
					.docs-list
						-
							var list=[
								{img:'certificate1.jpg'},
								{img:'certificate2.jpg'},
								{img:'certificate1.jpg'},
								{img:'certificate2.jpg'},
							]
						each item in list
							.docs-list__item
								a(href='assets/img/'+item.img data-fancybox='certificate')
									img(src='assets/img/'+item.img alt='')

	section.about-contacts.mb-indent
		.container
			.row
				.col-md-6.col-lg-4
					.about-contacts__text
						h2.h1 Где мы находимся

						.contact-item
							.contact-item__icon
								+svg('ic-place','ic-place', '25', '22')

							.contact-item__text 193036, Россия, Санкт-Петербург, 4-я Советская ул., д. 7

				.col-md-6.col-lg-8
					.about-contacts__img
						img(src="assets/img/map.jpg", alt="")

	section.partners-slider-wrap.m-indent
		.container
			.row
				.col-12
					h2.h1.text-center Клиенты

					.partners-slider.js-partners-slider
						-
							var list=[
								{img:'partner1.svg', text:'ООО «Морские Пропульсивные Системы»'},
								{img:'partner2.svg', text:'ООО «МПКБ»'},
								{img:'partner3.svg', text:'СЦ «ЭВЕРС»'},
								{img:'partner4.svg', text:'ГУП «ПИЛАРН»'},
								{img:'partner2.svg', text:'ООО «МПКБ»'},
								{img:'partner3.svg', text:'СЦ «ЭВЕРС»'},
								{img:'partner1.svg', text:'ООО «Морские Пропульсивные Системы»'},
								{img:'partner4.svg', text:'ГУП «ПИЛАРН»'},
								{img:'partner3.svg', text:'СЦ «ЭВЕРС»'},
								{img:'partner4.svg', text:'ГУП «ПИЛАРН»'},
								{img:'partner2.svg', text:'ООО «МПКБ»'},
								{img:'partner3.svg', text:'СЦ «ЭВЕРС»'},
							]
						each item in list
							.partners-slider__item
								.partners-slider__img
									img(src="assets/img/"+item.img, alt="")

								.partners-slider__text= item.text

					.progress.js-partners-progress(role='progressbar' aria-valuemin='0' aria-valuemax='100')

	section.docs-wrap.m-indent
		.container
			.row
				.col-lg-4
					h2.h1 Отзывы клиентов

					a.btn(href='#').d-none.d-lg-inline-flex
						.btn__text Все отзывы
						.btn__blobs
							div
							div
							div

				.col-lg-8
					.docs-list
						-
							var list=[
								{img:'doc1.jpg'},
								{img:'doc1.jpg'},
								{img:'doc1.jpg'},
								{img:'doc1.jpg'},
							]
						each item in list
							.docs-list__item
								a(href='assets/img/'+item.img data-fancybox='document')
									img(src='assets/img/'+item.img alt='')

				.col-12.d-lg-none
					.docs-wrap__more
						a.btn(href='#')
							.btn__text Все отзывы
							.btn__blobs
								div
								div
								div
	
	.bg-wave.m-indent

	section.about-wrap.m-indent
		.container
			.row
				.col-12
					h2.h1.text-center О нас

				.col-lg-7
					.about__text
						p ООО «СУДОЭКОЛОГИЯ», основанное в 1989 году, основным видом деятельности которого является судостроение и судоремонт, имеет лицензии для выполнения следующих видов работ:

						ul
							li ремонт морских судов («Свидетельство о соответствии предприятия» (РМРС) No 08.00017.120 от 05 февраля 2008 г.);
							li ремонт речных судов («Свидетельство о признании» (РРР) NoСЗФ356 от 15 марта 2011 г.) Строительство морских и речных судов;
							li техническое обслуживание морских судов в морских портах.
						
						p Численный состав ООО «СУДОЭКОЛОГИЯ» – свыше 100 человек основных судостроительных специальностей. Фирма работает под надзором Российского Речного Регистра и Российского Морского Регистра Судоходства. 
						p Разработанные нашими специалистами технологические процессы ремонта судов имеют одобрение РМРС. Система контроля качества соответствует требованиям Международного стандарта качества. Все технические руководители фирмы являются дипломированными инженерами-кораблестроителями.
						p Фирма имеет опыт выполнения работ под надзором Bureau Veritas, Lloyd's Register. Разработанные нашими специалистами технологические процессы ремонта судов имеют одобрение РМРС. Система контроля качества соответствует требованиям Международного стандарта качества. Все технические руководители фирмы являются дипломированными инженерами-кораблестроителями.

						a.btn(href='#')
							.btn__text Подробнее о нас
							.btn__blobs
								div
								div
								div

				.col-4.offset-xl-1.d-none.d-lg-block
					.about__img
						img(src="assets/img/about.jpg", alt="")
					
	section.news-wrap.m-indent
		.container
			.row
				.col-12
					h2.h1.text-center Новости

			.news-list
				.row
					-
						var list=[
							{img:'news1.jpg', title:'Разработанные нашими специалистами технологические процессы ремонта судов имеют одобрение РМРС', date:'26', month:'янв'},
							{img:'news2.jpg', title:'Разработанные нашими специалистами технологические процессы ремонта судов имеют одобрение РМРС', date:'5', month:'мар'},
							{img:'news3.jpg', title:'Система контроля качества соответствует требованиям Международного стандарта качества', date:'12', month:'апр'},
						]
					each item, index in list
						div(class=index==0?'col-md-4 col-lg-6':'col-md-4 col-lg-3')
							.news-item
								a(href="#").news-item__img-wrap
									.news-item__img(style="background-image: url(assets/img/"+item.img+")")

									.news-item__date
										.news-item__num= item.date
										.news-item__month= item.month

								.news-item__title
									a(href="#")= item.title

	section.form-page.bg-light-blue.last-elem
		.container
			.row
				.col-md-10.col-lg-7
					.js-valid-form
						form.form-site
							.form-site__title Появились вопросы или хотите оставить заявку?

							.form-site__text Наш специалист свяжется с вами в течении <b>5 минут</b>!
							
							.form-site__content
								.form-site__item.form-site__item_half.js-form-site-item
									.form-site__label Ваше имя
									.form-site__field
										input(type="text", required="required")

								.form-site__item.form-site__item_half.js-form-site-item
									.form-site__label Ваш телефон
									.form-site__field
										input(type="text", class="js-phone", required="required")

							.form-site__bottom
								button(type="submit").btn.js-btn-submit
									.btn__text Отправить
									.btn__blobs
										div
										div
										div

								.form-site__polit.js-form-site-polit
									.input-check.input-check_light
										input#polit1(type='checkbox', checked='checked', required="required")
										label.input-check__label(for='polit1')
											span.input-check__mark
												+svg('ic-check','ic-check', '10', '8')
											span.input-check__text Я согласен на обработку моих 
												a(href="#") персональных данных

				.col-md-2.col-lg-5.d-none.d-md-block
					.form-page__img
						img(src="assets/img/form-img.png", alt="")